html {box-sizing: border-box;}

body {
    background: rgb(234, 231, 219);
    margin: 0 auto;
    width: 70vw;
    font-family: Tahoma, Verdana, sans-serif;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(119, 102, 96);
}

h2 {
    font-size: 2em;
    margin: 0 0 0 100px;
    width: 500px;
    text-align: left;
}

h1 {
    margin-left: 50px;
    font-size: 4.5em;
}

.title-rec{
    background: rgb(255, 254, 249);
    text-align: left;
    padding: 30px;
    margin: auto 0 auto -50px;
    height: 100px;
    font-size: 3em;
}

#home-title {
    margin: 25vh auto 50px;
    text-align: center;
}

.img-dish {
    width: 400px;
    height: 300px;
}

.presentation {
    display: inline-flex;
    margin: 100px auto 40px;
    width: 800px;
    height: 300px;
}

li {list-style: none;}

.border-round, .title-rec {border-radius: 10px;}

.link-list {
    text-align: center;
    padding: 0;
}

.link-list li button {
    margin-bottom: 15px;
    width: 550px;
    height: 70px;
    color: rgb(124, 77, 59);
    background: rgb(255, 254, 249);
    font-size: 1.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
}

.text-box {
    background: rgb(255, 254, 249);
    padding: 35px 30px 20px;
    margin: -20px auto 20px;
}

.two-column {
    column-count: 2;
    column-gap: 20px;
}
