html {box-sizing: border-box;}

body {
    background: rgb(144, 25, 25);
    color: whitesmoke;
    margin: 0 auto;
    width: 600px;
    font-family: Tahoma, Verdana, sans-serif;
}

h1, h2 {
    font-size: 2em;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#home-title {
    font-size: 3.5em;
    margin-top: 25vh;
    margin-bottom: 30px;
}

li {
    list-style: none;

}

.link-list {
    text-align: center;
    padding: 0;
}

.link-list li button, .style-button {
    width: 250px;
    height: 70px;
    color: rgb(250, 233, 147);
    background: rgb(144, 25, 25);
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
}