html {box-sizing: border-box;}

body {
    background: rgb(244, 242, 237);
    margin: 0 auto;
    width: 800px;
    font-size: medium;
    font-family: Tahoma, Verdana, sans-serif;
}

.home-button {
    margin: 70px auto 40px;
    width: 800px;
    height: 50px;
    color: rgb(124, 77, 59);
    background: rgb(255, 254, 249);
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(119, 102, 96);
}

.subtitle {
    background: rgb(255, 254, 249);
}

h2 {
    font-size: 2em;
    margin: 0 auto 0 0;
    width: auto;
    text-align: left;
    padding: 20px 50px;
}

h1 {
    margin-left: 50px;
    font-size: 4.5em;
}

.title-recipe {
    text-align: left;
    font-size: 4.5em;
    margin: auto 0 auto 30px;
}

#home-title {
    margin: 25vh auto 50px;
    text-align: center;
}

.img-dish {
    width: 400px;
    height: 300px;
}

.presentation {
    display: flex;
    margin: 0 auto 40px;
    width: 800px;
    height: 300px;
}

.border-round, h2, .home-button
{border-radius: 10px;}

.link-list {
    text-align: center;
    padding: 0;
}

.link-list button {
    margin-bottom: 15px;
    width: 550px;
    height: 70px;
    color: rgb(124, 77, 59);
    background: rgb(255, 254, 249);
    font-size: 1.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
}

.text-card {
    background: rgb(255, 254, 249);
    padding: 35px 30px 30px;
    margin: -30px auto 20px;
    width: auto;
    text-align: justify;
}

.two-columns {
    column-count: 2;
    column-gap: 50px;
}